@font-face {
    font-family: 'MyFont';
    src: url('fonts/ChonkyPixels.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyFont', sans-serif;
    background-color: #334155;
}
