<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Text Processor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="container mt-5">
    <h1 class="text-center">--- Verbose ---</h1>
    <form action="/" method="post">
        <div class="form-group">
            <label for="text_input">Enter your text:</label>
            <textarea class="form-control" id="text_input" name="text_input" rows="10" placeholder="Enter your text here..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Process Text</button>
    </form>

    <h4 class="mt-4">Kuperman's Age of Acquisition</h1>
    <div class="ms-4">
      <p class="">mean = {{ mean_aoa }}</p>
      <p class="">average sd = {{ sd_aoa }}</p>
    </div>

    <h4 class="mt-4">Concreteness</h4>  <!-- Correct closing tag -->
    <div class="ms-4">
      <p class="">mean = {{ mean_conc }}</p>
      <p class="">average sd = {{ sd_conc }}</p>
    </div>


</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
