<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Text Processor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link href="https://unpkg.com/vis-graph3d@latest/dist/vis-graph3d.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://unpkg.com/vis-graph3d@latest/dist/vis-graph3d.min.js"></script>


<script type="text/javascript">

    var data = null;
    var graph3d = null;
    var mean_valence = parseFloat("{{ mean_valence }}") || 0;
    var mean_arousal = parseFloat("{{ mean_arousal }}") || 0;
    var mean_dominance = parseFloat("{{ mean_dominance }}") || 0;
    list = [[mean_valence, 0, 0], [0, mean_arousal, 0],[0, 0, mean_dominance]]

  // Called when the Visualization API is loaded.
  function drawVisualization() {
    console.log("drawVisualization called");

    // Create and populate a data table.
    var data = new vis.DataSet();
    for (var i = 0; i < list.length; i++) {
      data.add({
        x: list[i][0],
        y: list[i][1],
        z: list[i][2],
        style: i  // Use numeric value instead of object
      });
    }

    console.log("Data points added:", data.length);

    // specify options
    var options = {
      width:  '300px',
      height: '300px',
      style: 'dot-color',
      showXAxis: true,
      showYAxis: true,
      showZAxis: true,
      showPerspective: true,
      showGrid: false,
      showShadow: false,
      keepAspectRatio: true,
      verticalRatio: 0.5,
      dotSizeRatio: 0.01,
      xLabel: 'valence',
      yLabel: 'arousal',
      zLabel: 'dominance',
      xMin: -1,
      xMax: 1,
      yMin: -1,
      yMax: 1,
      zMin: -1,
      zMax: 1,
      xStep: 0.5,
      yStep: 0.5,
      zStep: 0.5
    };

    // create a graph3d
    var container = document.getElementById('mygraph');
    graph3d = new vis.Graph3d(container, data, options);

    // Start rotation after graph renders
    setTimeout(function() {
      var angle = 1.0;

      setInterval(function() {
        angle += 0.005;
        if (angle >= 0.5){
          angle = 0;
        }

        graph3d.setCameraPosition({
          horizontal: angle,
          vertical: 0.5,
          distance: 1.7
        });
      }, 50);
    }, 1000);
  }
</script>


</head>
<body onload="drawVisualization();" class="container mt-5">

  <div id="mygraph"></div>


    <h1 class="text-center">--- Verbose ---</h1>
    <form id="textForm">
        <div class="form-group">
            <label for="text_input">Enter your text:</label>
            <textarea class="form-control" id="text_input" name="text_input" rows="10" placeholder="Enter your text here..." required></textarea>
        </div>
        <!-- Button is optional now since it auto-submits -->
        <button type="submit" class="btn btn-primary mt-2">Process Text</button>
    </form>

    <h4 class="mt-4">Kuperman's Age of Acquisition</h1>
    <div class="ms-4">
      <p class="">mean = {{ mean_aoa }}</p>
    </div>

    <h4 class="mt-4">Concreteness</h4>  <!-- Correct closing tag -->
    <div class="ms-4">
      <p class="">mean = {{ mean_conc }}</p>
    </div>

    <h4 class="mt-4">VAD</h4>  <!-- Correct closing tag -->
    <div class="ms-4">
      <p class="">mean valence = {{ mean_valence }}</p>
      <p class="">mean arousal = {{ mean_arousal }}</p>
      <p class="">mean arousal = {{ mean_dominance }}</p>
    </div>


</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
